@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body{
    padding: 0;
    margin: 0;
    background-color: black;
}

.main{
    width: 100%;
    border-width: 2px;
    margin-top: 20px;


}
.main .name0{
    width: 150px;
    height: 20px;
    font-family: "Kaushan Script";
    margin-left: 50px;
    font-size: 20px;
    color: #e3c51e;

}
.main .select1{
    height:500px;
    width: 400px;
    /*margin: auto;*/
    margin-top: 20px;
    border: outset;
    left: 10%;
}
.main .select1 .detal{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select1 .detal .bed1{
   position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 60px;
}
.main .select1 .detal .bed2{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 45px;
}
.main .select1 .detal .bed3{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 60px;
    font-weight: bold;
    color: aqua;
}
.main .select2{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 22.8%;
    top: 24.5%;
    border: outset;
    left: 10%;
}
.main .select2 .detal1{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select2 .detal1 .bed4{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 80px;
}
.main .select2 .detal1 .bed5{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 65px;
}
.main .select2 .detal1 .bed6{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 80px;
    font-weight: bold;
    color: aqua;
}
.main .select3{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 55.5%;
    top: 24.5%;
    border:  outset ;
    left: 10%;
}
.main .select3 .detal2{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select3 .detal2 .bed7{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select3 .detal2 .bed8{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select3 .detal2 .bed9{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .name1{
    width: 150px;
    height: 20px;
    font-family: "Kaushan Script";
    margin-left: 50px;
    font-size: 20px;
    color: #e3c51e;

}
.main .select4{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    /*margin-left: 55.5%;*/
    margin-top: 20px;
    border: outset;
    /*left: 10%;*/
}
.main .select4 .detal3{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select4 .detal3 .bed10{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select4 .detal3 .bed11{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select4 .detal3 .bed12{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .select5{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 23%;
    margin-top: 20px;
    border: outset;
    left: 10%;
}
.main .select5 .detal4{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select5 .detal4 .bed10{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select5 .detal4 .bed11{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select5 .detal4 .bed12{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .select6{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 55.5%;
    margin-top: 20px;
    border: outset;
    left: 10%;
}
.main .select6 .detal5{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select6 .detal5 .bed10{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select6 .detal5 .bed11{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select6 .detal5 .bed12{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .name2{
    position: absolute;
    width: 150px;
    height: 20px;
    font-family: "Kaushan Script";
    margin-top: 45%;
    left: 50px;
    font-size: 20px;
    color: #e3c51e;

}
.main .select7{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    /*margin-left: 55.5%;*/
    margin-top: 45%;
    border: outset;
    /*left: 10%;*/
}
.main .select7 .detal6{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select7 .detal6 .bed13{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select7 .detal6 .bed14{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select7 .detal6 .bed15{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .select8{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 23%;
    margin-top: 45%;
    border: outset;
    left: 10%;
}
.main .select8 .detal7{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select8 .detal7 .bed13{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select8 .detal7 .bed14{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select8 .detal7 .bed15{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}
.main .select9{
    position: absolute;
    /*background-color: #000;*/
    height:500px;
    width: 400px;
    margin-left: 55.5%;
    margin-top: 45%;
    border: outset;
    left: 10%;
}
.main .select9 .detal8{
    position: absolute;
    margin-left: 7%;
    margin-top: 10px;
    width: 250px;
    height: 120px;
    color: #e3c51e;
    /*background-color: aqua;*/

}
.main .select9 .detal8 .bed13{
    position: absolute;
    font-family: "Raleway";
    font-size: 25px;
    margin-top: 10px;
    margin-left: 30%;
}
.main .select9 .detal8 .bed14{
    position: absolute;
    font-size: 18px;
    margin-top: 50px;
    margin-left: 25%;
}
.main .select9 .detal8 .bed15{
    position: absolute;
    font-size: 27px;
    margin-top: 85px;
    margin-left: 30%;
    font-weight: bold;
    color: aqua;
}


.select5 .img5:hover{
    opacity: 0.5;
    cursor: pointer;
}

.logo{
    background-color: #e3c51e;
    color: #000000;
    width: 100%;
    height: 100px;
}
.logo img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;

}
.logo .logo_name{
    width: 200px;
    height: 50px;
    font-size: 14px;
    margin-left: 10%;
    /*background-color: white;*/


}
.logo text{
    font-size: 30px;
    position: absolute;
    margin-top: 40px;
    margin-left: 50px;
    /*font-family: 'Akronim', cursive;*/
    font-family:Akronim;



}
.logo.nav1 {
    position: absolute;
    width: 100px;
    height: 100px;


}
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #e3c51e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
